# Ignore specific folders
build/
data/
install/
log/
.vscode/

# Common Python ignores
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# ROS specific ignores
devel/
logs/
bin/
msg_gen/
srv_gen/
build_isolated/
devel_isolated/
.catkin_workspace

# Common editor files
*~
.*.swp
.*.swo
*.tmp
*.bak

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore contents of bags directory but keep the directory structure
bags/*
# Keep the bags directory itself
!bags/.gitkeep

# Ignore contents of data directory but keep the directory structure
data/*
# Keep the data directory and its subdirectories
!data/.gitkeep
!data/innoviz/
!data/labels/
# Ignore contents of the subdirectories but keep their structure
data/innoviz/*
data/labels/*
# Keep the subdirectories themselves
!data/innoviz/.gitkeep
!data/labels/.gitkeep

# Ignore logs folder
logs/

# Ignore train directory and all its contents
train/output/
train/output/**

# Ignore YOLO dataset and what inside it
train/dataset/
train/dataset/**
